<div ng-init="loadEvents()">
    <div class="body">

        <div class="section group">
            <div class="col span_5_of_5">
                <h1>Events</h1>
                <ul>
                    <li class="btn btn-default btn-block" ng-click="editEvent()">Add New Event</li>
                    <li ng-repeat="project in allEvents" class="btn btn-default btn-block"
                        ng-click="editEvent($index)">{{project.name}}</a></li>
                </ul>
                <div class="modal fade" id="editModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                Vote Results for {{currentProject}}
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label for="name" class="col-sm-2 control-label">Event Name</label>

                                        <div class="col-sm-10">
                                            <input type="text" name="name" id="name"
                                                   ng-model="currentlySelectedEvent.name"
                                                   class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="desc" class="col-sm-2 control-label">Event Description</label>

                                        <div class="col-sm-10">
                                            <textarea id="desc" name="desc" ng-model="currentlySelectedEvent.desc"
                                                      class="form-control"></textarea><br/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="datestart" class="col-sm-2 control-label">Start Date</label>

                                        <div class="col-sm-10">
                                            <input type="text" name="datestart" id="datestart"
                                                   ng-model="currentlySelectedEvent.dateStart"
                                                   class="form-control"/></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="timestart" class="col-sm-2 control-label">Start Time</label>

                                        <div class="col-sm-10">
                                            <input type="text" name="timestart" id="timestart"
                                                   ng-model="currentlySelectedEvent.timeStart"
                                                   class="form-control"/></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="dateend" class="col-sm-2 control-label">End Date</label>

                                        <div class="col-sm-10">
                                            <input type="text" name="dateend" id="dateend"
                                                   ng-model="currentlySelectedEvent.dateEnd"
                                                   class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="timeend" class="col-sm-2 control-label">End Time</label>

                                        <div class="col-sm-10">
                                            <input type="text" name="timeend" id="timeend"
                                                   ng-model="currentlySelectedEvent.timeEnd"
                                                   class="form-control"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <div class="btn-group pull-right" ng-hide="index">
                                    <input type="submit" value="Save" class="btn btn-default" ng-click="saveEvent()"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>